{{#if errorMessage }}
<div class="row" id="errorinfo">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="alert alert-danger" role="alert">
            {{errorMessage}}
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>
{{/if}}


<div class="wrapper">
    <form class="form-signin" id="form-signin" action="/login" method="post">
        <h2 class="form-signin-heading">Please login</h2>

        <label for="name" class="cols-sm-2 control-label">Email</label>

        <input type="email" class="form-control" name="email" id="email" placeholder="Email Address" required="" autofocus="" oninvalid="this.setCustomValidity('Please enter valid email address.')" oninput="setCustomValidity('')"/>

        <label for="name" class="cols-sm-2 control-label">Password</label>

        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required="" oninvalid="this.setCustomValidity('Please enter password.')" oninput="setCustomValidity('')"/>

        <button class="btn btn-lg btn-primary btn-block" id="signinbutton" type="submit">Login</button>

        <div class="login-register">
            <a href="register">Not a User ? Sign up from here </a>
        </div>
    </form>
</div>