{{#if hasError }}
    <div class="row" id="errorinfo">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="alert alert-danger" role="alert">
                Error occurred retrieving the orders, please try again later !!
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
{{/if}}


{{# each usersOrders }}

<div class="row order-history-card">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-sm-8 order-number"><h4>Order No #{{ orderNumber }} </h4></div>
            <div class="col-sm-4 text-right order-total"><h4>${{ amount }}</h4></div>
        </div>
        <div class="row">
            <div class="order-date col-sm-12">
                Order Date - <span class="text-muted">{{ orderDate }}</span>
            </div>
        </div>
        {{# each this.itemsOrder }}
        <div class="row">
            <div class="order-lineItem col-sm-12">
                <span class="cell">1</span>
                <span class="cell">Paneer Makhni</span>
                <span class="cell text-muted">$11.00</span>
            </div>
        </div>
        {{/each}}
    </div>
</div>

{{/each}}