
<!--<div class="s-col-xs-12 account-order-history account-card-fulfilled u-section-3 fadeIn">-->
    <!--<ghs-past-order-card class="account-orderHistory-card" show-order-status="true">-->
        <!--<div class="s-row u-gutterless-3 past-order-card-7690c2f3-401c-11e7-9ecd-adb7fb6d6db0">-->
            <!--<div class="s-col-lg-2 u-gutter-3 s-hidden-xs s-hidden-sm"></div>-->
            <!--<div class="s-col-lg-6 s-col-xs-12 u-gutter-3">-->
                <!--<div class="s-row">-->
                    <!--<div class="s-col-xs-8"><h4>Order No #122</h4></div>-->
                    <!--<div class="s-col-xs-4 u-text-right"><h4>$26.61</h4></div>-->
                <!--</div>-->
                <!--<div class="s-row">-->
                    <!--<div class="pastOrderCard-lineItem s-col-xs-12 u-padding-top-default u-padding-bottom-default">-->
                        <!--<span class="u-padding-right-large">1</span>-->
                        <!--<span class="u-margin-right-default">Paneer Makhni</span>-->
                        <!--<span class="s-col-xs pastOrderCard-lineItem-price u-text-secondary">$11.00</span>-->
                    <!--</div>-->
                    <!--<div class="pastOrderCard-lineItem s-col-xs-12 u-padding-top-default u-padding-bottom-default"><span-->
                            <!--class="u-padding-right-large">1</span> <span class="u-margin-right-default">Mooli Radish Paratha</span>-->
                        <!--<span class="s-col-xs pastOrderCard-lineItem-price u-text-secondary">$6.00</span></div>-->
                    <!--<div class="pastOrderCard-lineItem s-col-xs-12 u-padding-top-default u-padding-bottom-default"><span-->
                            <!--class="u-padding-right-large">1</span> <span class="u-margin-right-default">Aloo Potato Paratha</span>-->
                        <!--<span class="s-col-xs pastOrderCard-lineItem-price u-text-secondary">$6.00</span></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</ghs-past-order-card>-->
<!--</div>-->


<div class="row order-history-card">
    <div class="col-lg-6 col-xs-12">
        <div class="row">
            <div class="col-sm-8"><h4>Order No #122</h4></div>
            <div class="col-sm-4 text-right"><h4>$26.61</h4></div>
        </div>
        <div class="row">
            <div class="order-lineItem col-sm-12 u-padding-top-default u-padding-bottom-default">
                <span class="u-padding-right-large">1</span>
                <span class="u-margin-right-default">Paneer Makhni</span>
                <span class="s-col-xs pastOrderCard-lineItem-price u-text-secondary">$11.00</span>
            </div>
        </div>
        <div class="row">
            <div class="order-lineItem col-sm-12 u-padding-top-default u-padding-bottom-default">
                <span class="u-padding-right-large">1</span>
                <span class="u-margin-right-default">Mooli Radish Paratha</span>
                <span class="s-col-xs pastOrderCard-lineItem-price u-text-secondary">$6.00</span>
            </div>
        </div>
        <div class="row">
            <div class="order-lineItem col-sm-12">
                <span class="u-padding-right-large">1</span>
                <span class="u-margin-right-default">Aloo Potato Paratha</span>
                <span class="s-col-xs pastOrderCard-lineItem-price u-text-secondary">$6.00</span>
            </div>
        </div>
    </div>
</div>
